{% extends "base.html" %} {% block title %}Rest API Exam{% endblock %} 

{% block content %} 
<form method='GET' action="{% url 'index' %}">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

</hr>

<h1>School</h1>

<table class="table">
    <thead>
        <tr>
            <th>School Name</th>
            <th>School Short Name</th>
            <th>Adress</th>
        </tr>
    </thead>
    <tbody>
        {% for school in school_list %}
            <tr>
                <td>{{ school.school_name }}</td>
                <td>{{ school.school_short_name }}</td>
                <td>{{ school.address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
